*{
    margin: 0%;
    padding: 0%;
}

html{
    font-size: 62.5%;
    
}

body{
    background-image: linear-gradient(to right top, #845EC2, #D65DB1,#FF6F91,#FF9671,#FFC75F,#F9F871);
    background-repeat: no-repeat;
    font-family: 'Saira Semi Condensed', ;
    height: 100vh;
}